@media (max-width: 768px) {
  .portfolio-card {
    width: 100%;
  }
  #header{
    margin-top: 15px;
    overflow-y: scroll;
    display: none;

  }
  .home-section{
     flex-wrap: wrap;
  }
  .home-text{
    width: 100%;
    text-align: center;
    position: relative;
  }
  .home-text h1{
    font-size: 35px;
  }
  .home-text p{
    font-size: 30px;
  }
  /* .fixed-image-wrapper{
    position: fixed;
    top: 5%;
    left: 20px;
    width: 90%;
    height: 100%;
  } */
   .fixed-image-wrapper{
    width: 100%;
   }
.home-section{
    flex-direction: column-reverse;
    margin-top: 40px;
}
  .about-section{
    margin-top: 30px;
    padding: 50px 10px;
  }
  .about-image img {
  width: 100%;
  border-radius: 16px;
}

  .Experience{
    padding: 50px 10px;
  }
  .about-image, .about-content{
    width: 100%;
  }
  .home-text-profile{
    width: 100%;
  }
  .portfolio-section{
    padding: 40px 10px;
  }
  .Experience-container{
    flex-wrap: wrap;
  }
  .Experience-box{
    width: 100%;
  }
  .project-cards{
    width: 100%;
  }
  .section-title{
    margin-top: 0px;
  }
  .service-box{
    width: 100%;
  }
  .github-section{
    height: 400px;
  }
  .contact-section{
    padding: 40px 20px;
  }
  .container{
    padding: 20px 20px;
  }
  .contact-card{
    width: 100%;
    flex: 1 1 50%;
}
.contact-footer .btn{
    margin-top: 20px;
}
}
