/* CSS for the Portfolio Website */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}
header{
    position: sticky;
    z-index: 1000;
    top: 0px;
    width: 100%;
    background-color: black;
}
.containerA {
    width: 93%;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

nav ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 4px;
    width: 100%;
    background: #09275eed;
    transition: width 0.5s;
}

.logo {
    width: 230px;
}
.name-logo{
    width: 100%;
}
.home-section{
    width: 93%;
    margin: 0px auto;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 120px;
}
.home-text {
    text-align: center;
    margin-top: 20px;
}
.home-text h1 {
    font-size: 52px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}
.home-text-profile {
  position: relative;
  height: 70px; 
}
.home-text-profile{
  border-bottom: 5px solid #6494eded;
  width: 65%;
  display: inline-block;
  padding-top: 10px;
}
.home-text-profile h3{
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.home-text-profile {
  position: relative;
  height: 70px; 
  overflow: hidden;
}
.typing {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  opacity: 0;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.typing-1 {
  animation: typing1 21s infinite, 
  blink 0.7s step-end infinite, 
  colorChange1 8s infinite;
}
@keyframes typing1 {
  0%, 20% { width: 0; opacity: 0; }
  5%, 15% { width: 100%; opacity: 1; }
  20% { width: 0; opacity: 0; }
  100% { opacity: 0; }
}
@keyframes colorChange1 {
  0% { color: #d4e6f5; }
  50% { color: #0011ff; }
  100% { color: #2196f3; }
}
.typing-2 {
  animation: typing2 21s infinite, 
  blink 0.7s step-end infinite, 
  colorChange2 8s infinite;
}
@keyframes typing2 {
  20%, 40% { width: 0; opacity: 0; }
  25%, 35% { width: 100%; opacity: 1; }
  40% { width: 0; opacity: 0; }
  100% { opacity: 0; }
}
@keyframes colorChange2 {
  0% { color: #55e0d5; }
  50% { color: #5ac2e2; }
  100% { color: #2ac9fa; }
}
.typing-3 {
  animation: typing3 21s infinite, 
  blink 0.7s step-end infinite, 
  colorChange3 8s infinite;
}
@keyframes typing3 {
  40%, 60% { width: 0; opacity: 0; }
  45%, 55% { width: 100%; opacity: 1; }
  60% { width: 0; opacity: 0; }
  100% { opacity: 0; }
}
@keyframes colorChange3 {
  0%   { color: #ffbefc; }
  50%  { color: #ee81f8; } 
  100% { color: #cc278d; }
}
.typing-4 {
  animation: typing4 21s infinite, 
  blink 0.7s step-end infinite, 
  colorChange4 8s infinite;
}
@keyframes typing4 {
  60%, 80% { width: 0; opacity: 0; }
  65%, 75% { width: 100%; opacity: 1; }
  80% { width: 0; opacity: 0; }
  100% { opacity: 0; }
}
@keyframes colorChange4 {
  0%   { color: #98fde4; }
  50%  { color: #4ce2b5; } 
  100% { color: #075535; }
}
@keyframes blink {
  50% { border-color: transparent; }
}

.home-text{
    width: 50%;
}
.home-img img {
    width: 100%;
    border-radius: 16px;
}
 .fixed-image-wrapper{
     width: 50%;
 }
.content {
    position: relative;
    z-index: 1;
    padding: 2rem;
}
.about-section {
  background: #111;
  color: white;
  padding: 80px 40px;
  margin-top: 80px;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  width: 93%;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
  margin-top: 40px;
}
.about-image{
    overflow: hidden;
    width: 40%;
}

.about-content{
    width: 50%;
}
.about-image img {
  width: 80%;
  border-radius: 16px;
}
.about-content {
  flex: 1;
}
.about-content h2 {
    font-size: 40px;
    margin-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}
.about-content p {
    color: #ccc;
    line-height: 27px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.educations-section h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}
.educations-section ul{
  padding-left: 20px;
}
.educations-section ul li{
    color: #ccc;
    line-height: 32px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
/* .tabs {
  display: flex;
  margin: 20px 0px 15px 0px;
  align-items: center;
  gap: 25px;
} */
.tab-btn {
  background: none;
  border: none;
  color: #aaa;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.tab-content P{
    margin-top: 7px;
}
/* .tab-btn.active {
  color: #6494eded;
  border-color: #6494eded;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tab-content span {
  color: #6494eded;
  font-weight: bold;
} */
.Experience {
  background: #0f0f0f;
  padding: 50px 20px;
  color: #fff;
  /* text-align: center; */
  font-family: 'Poppins', sans-serif;
}
.Experience-container {
  display: flex;
  /* flex-wrap: wrap;  */
  justify-content: center;
  gap: 35px;
  width: 93%;
  margin: 0 auto;
}
.experience-heading{
  margin-top: 40px;
}
.Experience-box {
  background: #1e1e1e;
  padding: 35px 25px;
  width: 30%;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.281);
  /* transition: transform 0.3s ease, background 0.3s ease; */
}
.Experience-box:hover {
  transform: translateY(-8px);
  /* background: #09275eed; */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.87);
}
.loader {
  display: flex;
  align-items: end;
  height: 50px;
  gap: 5px;
  margin-bottom: 20px;
}
.bar {
  width: 6px;
  background: #4dd0e1;
  animation: bounce 1s infinite ease-in-out;
}
.bar:nth-child(1){ 
  height: 15px; 
  animation-delay: 0s; 
}
.bar:nth-child(2){ 
  height: 30px; 
  animation-delay: 0.1s; 
}
.bar:nth-child(3){ 
  height: 40px; 
  animation-delay: 0.2s; 
}
.bar:nth-child(4){ 
  height: 25px; 
  animation-delay: 0.3s; 
}

@keyframes bounce {
      0%, 100% { transform: scaleY(1); }
      50% { transform: scaleY(1.4); }
}
.icon {
  font-size: 40px;
  margin-bottom: 15px;
  display: block;
}
.Experience-box h3 {
    font-size: 27px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    color: #FFFFFF;
    text-align: left;
}
.Experience-box p {
  font-size: 17px;
    line-height: 24px;
    color: #ccc;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.learn-more {
  text-decoration: none;
  color: #fff;
  background: #6494eded;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 550;
}
.learn-more:hover {
  background: #6494eded;
}
.portfolio-section {
  background: #111;
  color: #fff;
  padding: 60px 20px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 96%;
  margin: 0px auto
}
.project-cards img{
  width: 100%;
}
.portfolio-card {
  width: 32%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  cursor: pointer;
}
.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}
.portfolio-card:hover img {
  transform: scale(1.1);
}
.project-cards:hover{
  background-color: #0149cfed;
}
.portfolio-card:hover .portfolio-description {
  opacity: 1;
}
.project-cards{
  background-color: #09275eed;
  padding: 25px 20px;
  border-radius: 15px;
  width: 32%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}
.portfolio-description h3 {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 15px;
}
.portfolio-description p {
     font-size: 16px;
    /* margin-bottom: 10px; */
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 25px;
}
.demo-link a {
  display: inline-block;
  background: #fff;
  color: #6494eded;
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 22px;
  text-decoration: none;
  margin-top: 10px;
    cursor: pointer;
}
 .demo-link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: background 0.3s ease; */
}
.portfolio-description a:hover {
  background: #222;
  color: #fff;
}

.github-section { 
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.github-overlay h2 {
    font-size: 52px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: center;
}
.github-overlay h2 .highlight {
  color: #6494eded;
}
.github-overlay p {
    font-size: 26px;
    margin-bottom: 25px;
    color: #eee;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: center;
}
.github-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #6494eded;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 40px;
  transition: background 0.3s ease;
  font-size: 18px;
  font-weight: 600;
}
.github-btn:hover {
  background-color: #337bffed;
}
.completed {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}
.contact-section{
    background: #111;
    color: white;
    padding: 80px 20px;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
}
.section-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    text-align: center;
}
.section-subtitle {
    font-size: 22px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}
.contact-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.contact-card {
  flex: 1 1 22%;
}
.contact-card .icon {
  display: inline-block;
  width: 100px;
  font-size: 28px;
  color: #6494eded;
  margin-bottom: 15px;
  background: #1a1a1a;
  padding: 30px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.281);
}
.contact-card h3 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}
.contact-card p, .contact-card a {
    color: #aaa;
    font-size: 16px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.contact-footer {
  margin-top: 60px;
}
.contact-footer h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.contact-footer .btn {
  display: inline-block;
  background: #6494eded;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.social-links li {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.social-links i{
    font-size: 28px;
}
.social-links a {
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}
.social-links a:hover {
  color: #1d6cffed;
}
footer {
    text-align: center;
    padding: 20px;
    background: #333;
}
footer p {
    color: #aaa;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

/* ----------------------modal Css------------------ */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fff;
  margin: 4% auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 34px;
  cursor: pointer;
  color: #333;
}
.modal-content ul li{
  color: #0f0f0f;
  font-size: 18px;
  font-weight: 450;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  margin-top: 20px;
  list-style: none;
}


.text-collapse.clamp {
  display: -webkit-box; -webkit-line-clamp: 2;    
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .text-expand {
  -webkit-line-clamp: unset;
  overflow: visible;
} */
.view-more {
  color: #007bff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------------------projects modal----------------------- */
.demo-link button {
     font-size: 21px;
    color: #6494eded;
    background-color: #FFFFFF;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
}
  .projectModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .projectmodal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10% auto;
    width: 90%;
    max-width: 600px;
    position: relative;
  }
.close-button {
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}
.projectmodal-content p{
  font-size: 18px;
  color: #333;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}


